<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="row mr-0" th:fragment="list">
        <div class="col-md-3 border-right">
            <div class="row">
                <div class="col-11">

                    <div class="btn-group btn-block">
                        <button class="btn btn-white btn-block mt-2 text-left " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Feature List
                            <b class="label label-info pull-right">2</b>
                        </button>
                        <button class="btn btn-success mt-2 rounded-right" type="button">
                            <b class="fas fa-plus"></b>

                        </button>

                        <div class="dropdown-menu pull-right p-0 w-100" id="pborad-filter">

                            <a href="#" class="list-group-item w-100">
                                <div class="checkbox checkbox-css checkbox-inline">
                                    <input type="checkbox" value="" id="inlineCssCheckbox1" checked="">
                                    <label></label>

                                </div>
                                Planned
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="checkbox checkbox-css checkbox-inline">
                                    <input type="checkbox" value="" id="inlineCssCheckbox2" checked="">
                                    <label></label>
                                </div>
                                Unplanned
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="checkbox checkbox-css checkbox-inline">
                                    <input type="checkbox" value="" id="inlineCssCheckbox3">
                                    <label></label>
                                </div>
                                Urgent
                            </a>
                            <h5 class="light-text m-5 pl-2 text-info">Teams</h5>
                            <a href="#" class="list-group-item">
                                <div class="checkbox checkbox-css checkbox-inline">
                                    <input type="checkbox" value="" id="inlineCssCheckbox4">
                                    <label></label>
                                </div>
                                Malabar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-1 text-right pr-0">
                    <a href="javascript:;" class="leftbar-minify-btn" data-click="leftbar-minify"><i class="fa fa-angle-double-left"></i></a>
                </div>

            </div>
            <div class="row card-box draggable-card">
                <div class="col-md-12 border rounded bg-white">
                    <div class="row">
                        <div class="col-sm-6 text-success pt-2">
                            <strong>Title</strong>
                        </div>
                        <div class="col-sm-6 light-text text-right pt-2">
                            Description
                        </div>
                        <div class="col-sm-12 text-muted pt-2">
                            <h5 class="light-text">Subject Line</h5>
                        </div>
                        <div class="col-sm-6 text-success pt-2">
                            <span class="badge badge-dark">S 2</span>
                        </div>
                        <div class="col-sm-6 pt-2">
                            <span class="badge badge-pink badge-square pull-right">T</span>
                        </div>
                        <div class="col-sm-12 border-top mt-2 mb-2">
                        </div>
                        <div class="col-sm-2 mb-2">
                            <span class="label label-secondary">28</span>
                        </div>
                        <div class="col-sm-4 mb-2">
                            <span class="light-text">30 Dec</span>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <span class="light-text">88%</span>
                        </div>
                        <div class="col-sm-4 mb-2">
                            <b class="fa fa-lg fa-genderless text-danger"></b>
                            <span> 2 </span>
                            <a class="btn btn-xs btn-light pull-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <span class="fas fa-angle-right"></span>
                            </a>
                        </div>
                        <div class="col-12 collapse" id="collapseExample">
                            <div class="card card-body bg-light">
                                <div class="row">
                                    <div class="col-md-12 border rounded mb-2">
                                        <div class="row">
                                            <div class="col-sm-6 text-success pt-2">
                                                <strong>Title</strong>
                                            </div>
                                            <div class="col-sm-4 light-text text-right pt-2">
                                                Description
                                            </div>
                                            <div class="col-sm-2 pt-2 text-right">
                                                <span class="label label-secondary">3</span>
                                            </div>
                                            <div class="col-sm-12 text-muted pt-2">
                                                <h5 class="light-text">Subject Line</h5>
                                            </div>
                                            <div class="col-sm-6 text-success pt-2 pb-2">
                                                <span class="badge badge-dark">S 2</span>
                                            </div>
                                            <div class="col-sm-6 pt-2 pb-2">
                                                <span class="badge badge-pink badge-square pull-right">T</span>
                                            </div>


                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 border rounded">
                                        <div class="row">
                                            <div class="col-sm-6 text-success pt-2">
                                                <strong>Title</strong>
                                            </div>
                                            <div class="col-sm-4 light-text text-right pt-2">
                                                Description
                                            </div>
                                            <div class="col-sm-2 pt-2 text-right">
                                                <span class="label label-secondary">3</span>
                                            </div>
                                            <div class="col-sm-12 text-muted pt-2">
                                                <h5 class="light-text">Subject Line</h5>
                                            </div>
                                            <div class="col-sm-6 text-success pt-2 pb-2">
                                                <span class="badge badge-dark">S 2</span>
                                            </div>
                                            <div class="col-sm-6 pt-2 pb-2">
                                                <span class="badge badge-pink badge-square pull-right">T</span>
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="col-md-9 border-left">
            <div class="row planner-box">
                <div class="col-md-12 table-responsive">
                    <table class="sprint-planner mb-4">
                        <thead>
                        <tr>
                            <th class="bg-white border-0 first-th"></th>
                            <th>
                                <strong>Sprint 1</strong>
                                <small class="text-purple pull-right">13 Nov - 23 Nov</small>
                            </th>
                            <th>
                                <strong>Sprint 2</strong>
                                <small class="text-purple pull-right">24 Nov - 8 Dec</small>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="border-0 bg-pink text-white text-center">
                                T
                            </td>

                            <td>
                                <div class="row card-box">
                                    <div class="col-md-12 border rounded">
                                        <div class="row">
                                            <div class="col-sm-6 text-success pt-2">
                                                <strong>Title</strong>
                                            </div>
                                            <div class="col-sm-6 light-text text-right pt-2">
                                                Description
                                            </div>
                                            <div class="col-sm-12 text-muted pt-2">
                                                <h5 class="light-text">Subject Line</h5>
                                            </div>
                                            <div class="col-sm-6 text-success pt-2">
                                                <span class="badge badge-dark">S 2</span>
                                            </div>
                                            <div class="col-sm-6 pt-2">
                                                <span class="badge badge-pink badge-square pull-right">T</span>
                                            </div>
                                            <div class="col-sm-12 border-top mt-2 mb-2">
                                            </div>
                                            <div class="col-sm-2 mb-2">
                                                <span class="label label-secondary">28</span>
                                            </div>
                                            <div class="col-sm-4 mb-2">
                                                <span class="light-text">30 Dec</span>
                                            </div>
                                            <div class="col-sm-2 mb-2">
                                                <span class="light-text">88%</span>
                                            </div>
                                            <div class="col-sm-4 mb-2">
                                                <b class="fa fa-lg fa-genderless text-danger"></b>
                                                <span> 2 </span>
                                                <a class="btn btn-xs btn-light pull-right" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    <span class="fas fa-angle-right"></span>
                                                </a>
                                            </div>
                                            <div class="col-12 collapse" id="collapseExample2">
                                                <div class="card card-body bg-light">
                                                    <div class="row">
                                                        <div class="col-md-12 border rounded mb-2">
                                                            <div class="row">
                                                                <div class="col-sm-6 text-success pt-2">
                                                                    <strong>Title</strong>
                                                                </div>
                                                                <div class="col-sm-4 light-text text-right pt-2">
                                                                    Description
                                                                </div>
                                                                <div class="col-sm-2 pt-2 text-right">
                                                                    <span class="label label-secondary">3</span>
                                                                </div>
                                                                <div class="col-sm-12 text-muted pt-2">
                                                                    <h5 class="light-text">Subject Line</h5>
                                                                </div>
                                                                <div class="col-sm-6 text-success pt-2 pb-2">
                                                                    <span class="badge badge-dark">S 2</span>
                                                                </div>
                                                                <div class="col-sm-6 pt-2 pb-2">
                                                                    <span class="badge badge-pink badge-square pull-right">T</span>
                                                                </div>


                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 border rounded">
                                                            <div class="row">
                                                                <div class="col-sm-6 text-success pt-2">
                                                                    <strong>Title</strong>
                                                                </div>
                                                                <div class="col-sm-4 light-text text-right pt-2">
                                                                    Description
                                                                </div>
                                                                <div class="col-sm-2 pt-2 text-right">
                                                                    <span class="label label-secondary">3</span>
                                                                </div>
                                                                <div class="col-sm-12 text-muted pt-2">
                                                                    <h5 class="light-text">Subject Line</h5>
                                                                </div>
                                                                <div class="col-sm-6 text-success pt-2 pb-2">
                                                                    <span class="badge badge-dark">S 2</span>
                                                                </div>
                                                                <div class="col-sm-6 pt-2 pb-2">
                                                                    <span class="badge badge-pink badge-square pull-right">T</span>
                                                                </div>


                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </td>
                            <td class="card-droppable">

                            </td>
                            <td class="card-droppable">

                            </td>
                            <td class="card-droppable"></td>
                            <td class="card-droppable"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</body>
</html>